{% extends  "base.html" %}   


{% block base_head %}
<title> detail html </title>
{% endblock %}

{% block content %}
    <div class='container'>
        <div class='row'>
            <div class='col-12 col-md-6'>
                    <h1>{{ object.title }}</h1>    
                    {{ object.timestamp|timesince }} ago
                    {{ object.description|linebreaks }}<br/>
                    {% if object.image %}
                        <img src='{{ object.image.url }}' class='img-fluid' />
                    {% endif %}
            </div>
            <div class='col-12 col-md-6'>
                {% comment %} {% include 'products/snippets/update-cart.html' with product=object cart=cart %} {% endcomment %}

                <form method='POST' action='{% url "cart:update" %}' class="form"> {% csrf_token %}
                    <input type='hidden' name='product_id' value='{{ product.id }}' />
                    {% if product in cart.products.all %}
                        In cart <button type='submit' class='btn btn-link'>Remove?</button>
                    {% else %}
                        <button type='submit'  class='btn btn-success'>Add to cart</button>
                    {% endif %}
                </form>
            </div>
    
    </div>
    </div>

{% endblock %}
